[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
pydantic-settings = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-xdist = "*"
rich = "*"
uvicorn = "*"
alembic = "*"
pandera = "*"
asyncpg = "*"
httpx = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
