[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fastapi = "*"
rich = "*"
sqlalchemy = "*"
pydantic = "*"
pydantic-settings = "*"
uvicorn = "*"
asyncpg = "*"
pyarrow = "*"
polars = "*"

[dev-packages]
alembic = "*"

[requires]
python_version = "3.12"
