[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.1.1"
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
pydantic-settings = "*"
uvicorn = "*"
asyncpg = "*"
polars = "*"
pyarrow = "*"
rich = "*"
alembic = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pandera = "*"

[requires]
python_version = "3.10.12"
